section.buddy-section {
    color: #000;
    margin: 0 auto;
    padding: 78px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.buddy-section .back-to-buddy a {
    font: 500 14px/24px var(--font-family);
    display: flex;
    align-items: center;
    gap: 2px;
    color: #667085;
}

.some-buddy {
    display: flex;
    gap: 62px;
}

.some-buddy-profile {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 18px;
}

.some-buddy-profile > div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0;
    gap: 18px;
}

.some-buddy-profile .buddy-info {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.some-buddy-profile .buddy-info > div, .buddy-info > div:last-child > div {
    display: flex;
    flex-direction: column;
}


.buddy-info .profile-image {
    border: 1px solid #330;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    /* width: auto;
    height: auto; */
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-image img {
    margin: 0 auto;
    /* width: 100%;
    height: 100%; */
    width: 96px;
    height: 96px;
}

.some-buddy-profile .buddy-info > div:first-child {
    gap: 24px;
}

.buddy-info > div:first-child .name {
    color: #18181B;
    font: 600 24px/22px var(--font-family);
}

.buddy-info > div:first-child .age {
    color: #18181B;
    font: 16px/22px var(--font-family);
}

.some-buddy-profile .buddy-info > div:last-child {
    gap: 5px;
}

.buddy-info > div:last-child > div span:first-child{
    color: #18181B;
    font: 16px/22px var(--font-family);
    font-weight: bolder;
}

.buddy-info > div:first-child > div:last-child  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.some-buddy-profile .chat-buddy {
    margin-top: 12px;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.some-buddy-profile .chat-buddy a {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #fff;
    background-color: #78D253;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font: 14px/24px var(--font-family);
    transition: all .2s ease;
}

.some-buddy-profile .chat-buddy a:hover {
    opacity: .85;
}

.some-buddy-profile .report {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    /* border-radius: 8px; */
    overflow: hidden;
}

.some-buddy-profile .report a {
   display: flex;
   align-items: center;
   gap: 6px;
   color: #667085;
   font: 14px/24px var(--font-family);
}

/* ****************************************************************************************************************************** */

.some-buddy-details {
    max-width: 692px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.some-buddy-details > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.some-buddy-details h3 {
    color: #18181B;
    font: 600 24px/22px var(--font-family);
    padding: 10px 0;
}

.some-buddy-details > * {
    padding: 10px 0;
}

.verify-share-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.verified-recently {
    display: flex;
    align-items: center;
    gap: 10px;
}

.verified-recently .verified {
    background-color: #EFF8FF;
    color: #004BAF;
    font: 12px/18px var(--font-family);
    padding: 4px 8px;
}

.verified-recently .recently {
    background-color: #FFF4E6;
    color: #FF7D06;
    font: 12px/18px var(--font-family);
    padding: 4px 8px;
}

.share-like {
    display: flex;
    align-items: center;
    gap: 16px;
}

.share-like > span {
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EAECF0;
    border-radius: 6px;
    cursor: pointer;
}

.some-buddy-details p {
    color: #18181B;
    font: 16px/29px var(--font-family);
}

.some-buddy-details .personal-info, .some-buddy-details .preferences {
    display: flex;
    gap: 105px;
    font: 16px/22px var(--font-family);
}

.some-buddy-details .personal-info > div, .some-buddy-details .preferences > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personal-info > div > div span:first-child, .preferences > div > div span:first-child {
    font-weight: bolder;
}

.amenities ul {
    display: flex;
    gap: 20px;
}

.amenities ul li {
    padding: 10px;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    color: #000;
    font: 16px/24px var(--font-family);
}

.border-bottom {
    border-bottom: 1px solid #E1E1E1;
}