section.request-section {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    height: auto;
    min-height: 711px;
    color: var(--secondary-color-1);
    gap: 120px;
}

.make-request {
    /* height: 100%; */
    height: auto;
    width: 591px;
    /* min-width: 591px; */
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.make-request .tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
}

.tracker hr {
    /* border: 2px solid gray; */
    flex: 50%;
    height: 4px;
    background-color: #D0D5DD;
}

.tracker hr.lit {
    /* border-color: var(--accent-color); */
    background-color: var(--accent-color);
}

.make-request .header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    padding: 0;
}

.make-request .header h2 {
    font: 500 62px/68px var(--font-family);
    width: 100%;
    padding: 0;
}

.make-request .header p {
    font: 500 15px/17px var(--font-family);
    color: #71717A;
}

.make-request .request-form {
    padding: 0;
} 

.request-form .part-1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.request-form .part-2 {display: none;}

.request-form .form-group {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    gap: 10px;
}

.request-form .form-group:first-child {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.form-group > div {
    flex: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    gap: 6px;
}

.form-group > div > label {
    font: 14px/20px var(--font-family);
    color: #344054;
}

.form-group > div > div {
    display: flex;
    align-items: center;
    font: 14px/24px var(--font-family);
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    height: 44px;
}

.form-group > div > div >* {
    outline: 0;
    border: 0;
}

.form-group > div > div > input {
    flex-grow: 1;
    /* height: 100%; */
    background-color: #fff;
    padding-left: 5px;
    color: #667085;
    
}

.part-2 .form-group:first-child > div:last-child > div input {
    border-left: 1px solid #D0D5DD;
    height: 100%;
    border-radius: 0 6px 6px 0;
}

.part-2 .form-group:first-child div:last-child > div {
    display: flex;
    align-items: center;
    padding: 0;
}

.form-group .tel-code {
    /* border-right: 1px solid #D0D5DD; */
    color: #667085;
    padding-right: 8px;
    padding-left: 8px;
    align-self: center;
    /* margin-top: 0;
    margin-bottom: 0; */
    /* height: 100%; */
}

.form-group > div > div img {
    width: 20px;
    height: 20px;
}

.form-group > div > select, .form-group > div > input {
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    font: 14px/24px var(--font-family);
    color: #667085;
    height: 44px;
    padding: 10px 14px;
    outline: 0;
}

.make-request textarea {
    width: 100%;
    margin-top: 28px;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    font: 14px/24px var(--font-family);
    color: #667085;
    padding: 10px 14px;
    outline: 0;
    resize: none;
}

.make-request .buttons {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.make-request .buttons > * {
    padding: 10px 18px;
    outline: 0;
    border: 0;
    border-radius: 6px;
    font: 14px/24px var(--font-family);
}

.make-request .buttons .next {
    color: #fff;
    background-color: #78D253;
}

.make-request .buttons .post {
    color: #000;
    background-color: #fff;
    border: 1px solid #D0D5DD;
}

.request-section .illustration {
    padding: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.illustration .img-holder {
    padding: 0;
    max-width: 523px;
    max-height: 567px;
    /* width: 523px;
    height: 567px;
     */
    border-radius: 20px;
    overflow: hidden;
}

.img-holder img {
    margin: 0;
    margin-bottom: -10px;
    margin-top: -10px;
    width: 100%;
    height: 100%;
}

.error-msg {
    color: red;
    margin: 4px auto;
    font-size: 14px;
    text-align: left;
}

#requestForm .form-group .error-flag {
    border: 1px solid red;
}
/*
select option[disabled] {
    color: #999; /* Lighter color for the placeholder *
}

select option:not([disabled]):first-child {
    display: none; /* Hide the placeholder from the dropdown list *
}
*/

section.faq {
    flex-direction: row;
    padding: 56px 98px;
    justify-content: space-between;
    /* gap: 100px; */
}

section.faq .faq-header {
    align-self: flex-start;
    text-align: left;
}

section.faq .faq-header h2 {
    color: #18181B;
    font-weight: 700;
    width: 100%;

}

section.faq .faq-header p {
    color: #71717A;
    font: 500 16px/18px var(--font-family);
    margin-top: 10px;
}