.about-property {
    margin-top: 30px;
}

.about-property .property-form {
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.property-form .part-1, .property-form .part-2, .property-form .part-3 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.property-form .heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.property-form div h3 {
    font: 600 32px /68px var(--font-family);
}

.property-form .content {
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

.content .features {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font: 14px /24px var(--font-family);
}

.features > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 0;
    margin-bottom: 0;
}

.features label {
    font-weight: 600;
}

.features > div input, .features > div select {
    height: 44px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 5px 15px;
    outline: 0;
}

.rooms-bath {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.rooms-bath h4 {
    font: 600 14px /24px var(--font-family);   
}

.rooms-bath .bedrooms,
.rooms-bath .bed,
.rooms-bath .bathroom  {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rooms-bath .bedrooms >span,
.rooms-bath .bed >span, 
.rooms-bath .bathroom >span {
    color: #71717A;
    font-size: 14px;
    font-weight: 400;
}

.rooms-bath > div, .rooms-bath > div >ul {
    gap: 16px;
    padding-right: 10px;
}

.rooms-bath > div > ul {
    display: flex;
    flex: 1;
}

.rooms-bath > div >ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 12px /14px var(--font-family);  
    padding: 15px 30px;
    border: 1px solid #c7c9d1;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}

.rooms-bath > div >ul li:hover {
    background-color: #78D253;
    color: #fff;
}

.features > div #amenities {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    color: #162748;
    width: 100%;
}

.features > div #amenities li {
    font: 12px /18px var(--font-family);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border: 2px solid #EAECF0;
    border-radius: 22px;
}

.part-3 .photo-upload {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px dashed #aaa;
    /* border-radius: 10px; */
    height: 355px;
    max-height: 355px;
    overflow: hidden;
}
#drop-area {
    /* flex: 50%; */
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  background-color: #F4F4F4;
  position: relative;
}
#drop-area label {
    align-self: flex-start;
}
/* .img-subgrid {
    flex: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 48% 48%;
    grid-gap: 12px 16px;
    padding: auto;
} */
.img-grid {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 175px 175px; 
    overflow: hidden;
}
.img-grid img {width: 100%;height: 100%;}
.previews {
    background-color: #F4F4F4;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.img-grid .previews:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}
.img-grid .previews:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
}
.img-grid .previews:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/2;
}
.img-grid .previews:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
}
.img-grid .previews:nth-child(5) {
    grid-column: 4/5;
    grid-row: 2/3;
}
.previews img {
    max-width: 100%;
    max-height: 100%;
}
#drop-area.dragging {
  border-color: #4CAF50;
  background-color: #e6ffe6;
}

#drop-area>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#drop-area>div label {
    align-self: flex-start;
    font-size: 12px;
}

#drop-area>div img {
    margin-top: 25px;
}

#drop-area>div span:nth-last-child(2) {
    font: 600 16px/24px var(--font-family);
    color: #15253D;
}
#drop-area>div span:last-child {
    text-decoration: underline;
    color: #15253D;
    font: 14px/18px var(--font-family);
}


/* ****************************** UPLOAD GALLERY ********************************** */

.listing-details .listing-gallery {
    margin: 0;
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px; 
    overflow: hidden;
    height: 520px;
    /* max-height: 520px; */
}

.listing-gallery img {
    height: 100%;
}

.listing-gallery div.shown {
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    /* position: relative; */
}

.listing-gallery div.shown:nth-child(3) {
    position: relative;
}

.listing-gallery span.remaining-img {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    font-size: 40px ;
    color: #fff;
    z-index: 100;
}

.listing-gallery div.shown:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    /* width: 0%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    cursor: pointer;
    transition: background-color .3s ease;
}


.listing-gallery div.shown:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/3;
    border-radius: 10px 0 0 10px;
}
.listing-gallery div.shown:nth-child(2) {
    grid-column: 4/6;
    grid-row: 1;
    border-radius: 0 10px 10px 0;
}
.listing-gallery div.shown:nth-child(3) {
    grid-column: 4/6;
    grid-row: 2;
    border-radius: 0 10px 10px 0;
}





.property-form .back-next {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 335px;
}

.back-next button {
    font: 14px/24px var(--font-family);
    padding: 10px 18px;
    border: 0;
    outline: 0;
    border-radius: 6px;
}

.back-next button:first-child {
    background-color: transparent;
    color: #18181B;
    transition: all .3s ease-in-out;
}

.back-next button:first-child:hover {
    background-color: #c7c9d1;
    color: #18181B;
}

.back-next button:last-child {
    background-color: #78D253;
    color: #fff;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.back-next button:last-child:hover {
    opacity: .8;;
}